@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@theme {
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --color-background: #6689A7;
    --color-primary: #000000;
    --color-blue-dark: #1F2C4E;
    --color-yellow: #FFD43B;


}


