@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@theme {
    --font-roboto: "Roboto", sans-serif;

    --color-primary: #ffffff;


}

html {
    font-family: var(--font-sans);
}

.bg-gradient {
    background: linear-gradient(
            to bottom,
            #1F2C4E 0%,
            #264F6B 51%,
            #6689A7 100%
    ) no-repeat;
    background-size: cover;
    min-height: 100vh;
}
